# Compiled object files
*.o
*.obj

# Compiled shared libraries
*.so
*.so.*

# Static libraries
*.a
*.la
*.lo

# Executable files (without extension)
*.[eE][xX][eE]
*.[oO]
a.out

# Dependency files
*.d

# CMake build folders
/build/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Logs and temp files
*.log
*.tmp
*.bak
*.swp

# IDE and Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
desktop.ini

# Backup files
*~

